* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-bottom: 100px;

}

.title {
  font-size: 30px;
}

table {
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(73, 73, 73);
  border-collapse: collapse;
  color: white;
  font-size: 10px;
}

th {
  background-color: black;
  border: 2px solid rgb(73, 73, 73);
  color: white;
}

td {
  border: 1px solid rgb(73, 73, 73);
  padding: 10px;
}
